.main-box {
  width: 30vw;
  background-color: #00C40A;
  height: 80vh;
  overflow: auto;
}

h2 {
  color: white;
  font-size: 40px;
  margin: 20px;
  text-align: center;
}

li {
  background-color: #fff;
  margin: 20px;
}

p {
  padding: 10px;
  color: #000;
}

li>button {
  background-color: #1E5EFF;
  color: #FFF;
  padding: 5px;
  border: none;
  margin: 0 5px;
}



.btn-sum {
  background-color: #1E5EFF;
  font-size: 15px;
  color: white;
  border: 2px solid white;
  margin: 10px;
  display: block;
  margin: 10px auto;
  padding: 10px 30px;
}


.btn-sum:hover {
  background-color: #419FFF;
}

.sum {
  font-size: 30px;
  margin: 20px;
  text-align: center;
}
